@font-face {
    font-family: poppins;
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: 'open sans';
    src: url(OpenSans.ttf);
}

img:hover {
    transform: scale3d(1.01, 1.01, 1.01);
    transition: transform 0.5s;
}

.sub-body a:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    transition: transform 0.5s;
}

.main-body {
    margin-bottom: 0;
}


body {
    /* background-color: #567292;*/
    margin: 0;
    padding: 0;
    font-family: 'open sans';
    overflow-x: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

h2 {
    font-family: poppins;
    font-size: 30px;
}

body .sub-body {
    padding: 0.5em 2em;
}

.S-one {
    margin-top: 1in;
}


/*navigation bar*/

header {
    z-index: 1;
    box-shadow: 1px 1px 10px grey;
    display: grid;
    grid-template-columns: auto auto;
    height: 1in;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
}

header nav {
    text-align: right;
}

header nav span {
    display: none;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding: 15px 20px;
}

header nav ul li [target="_blank"] {
    background-color: #06752E;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
}

header nav ul li [target="_blank"]:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s;
}


/*program drop down*/

.drop-down-content {
    box-shadow: 1px 1px 7px gray;
    padding: 15px 20px;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    background-color: #fff;
    display: none;
}

.drop-down:hover .drop-down-content {
    display: block;
}


/*program drop down*/


/*navigation bar*/


/*section one*/

.S-one {
    width: 100%;
    height: 4in;
    -moz-animation-name: slide;
    -webkit-animation-name: slide;
    -o-animation-name: slide;
    animation-name: slide;
    -moz-animation-duration: 30s;
    -webkit-animation-duration: 30s;
    -o-animation-duration: 30s;
    animation-duration: 30s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    background-position: center, center, center;
    background-color: rgba(55, 49, 47, 0.5), rgba(55, 49, 47, 0.5), rgba(55, 49, 47, 0.5);
}

.S-one article {
    color: #fff;
    transform: translate(0, 150px);
}

.S-one a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 5px;
}


/*section one*/


/*section two*/

.s-two {
    width: 100%;
    text-align: center;
    background-color: #F4F6F4;
    height: auto;
}

.s-two a {
    background-color: #1BAE70;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    width: 100px;
    margin: auto;
}

.S-two p {
    color: #4E5652;
    margin: 0 20px;
}


/*section two*/


/*section three*/

.S-three section {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
}

.S-three section div.figure {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
}

.S-three {
    width: 100%;
    text-align: center;
}

.S-three p {
    color: #4E5652;
}

.S-three h3 {
    color: #1BAE70;
}

.s-three figure img {
    max-width: 100%;
}


/*section three*/


/*section four*/

.S-four {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: #F4F6F4;
}

.S-four p {
    color: #4E5652;
}


/*section four*/


/*section five*/

.S-five h2,
.S-five p {
    text-align: center;
}

.S-five a[title="Involved"] {
    background-color: #1BAE70;
    color: #fff;
    border-radius: 3px;
    padding: 15px 20px;
    text-decoration: none;
}

.S-five a[title="Donate"] {
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
}

.S-five {
    width: 100%;
    background-color: #0A9060;
    color: #fff;
    height: 3.2in;
}


/*section five*/


/*section six*/

.S-six {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.S-six a {
    border: 2px solid #1BAE70;
    color: #1BAE70;
    border-radius: 3px;
    padding: 15px 20px;
    text-decoration: none;
}

[src="7.jpg"] {
    width: 360.656px;
    height: 308px;
}


/*section six*/


/*section seven*/

.S-seven {
    width: 100%;
    background-color: #F4F6F4;
}

.S-seven h2 {
    text-align: center;
}

.S-seven article {
    display: flex;
}

.S-seven article img {
    margin: auto;
}


/*section seven*/


/*section eight*/

.S-eight {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}


/*section eight*/


/*section nine*/

.S-nine {
    width: 100%;
    background-color: #393939;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 30px;
    color: #fff;
    margin-bottom: 0;
    font-size: 12px;
    padding: 20px;
}

.S-nine h5 {
    font-size: 18px;
}

.S-nine a {
    color: #fff;
    text-decoration: none;
}


/*section nine*/

/*section ten*/
.S-ten {
    background-image: url(11.jpg);

    background-position: center;
    margin-top: 1in;
    color: #fff;
    text-align: center;
}

.S-ten h2 {
    text-shadow: 1px 1px 8px black;
}

/*section ten*/

/* section eleven  */
.S-eleven {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: large;
    background-color: #F4F6F4;
}

.S-eleven aside p,
.S-eleven label {
    color: #1db173;
    font-size: 16px;
    text-indent: 50px;
}

.S-eleven label {
    padding: 10px 0;
}

form input,
form textarea {
    padding: 10px;
    width: 400px;
}
 [type="button"]{
    background-color: rgba(6, 117, 46, 0.5);
    color: #fff;
    border-radius: 7px;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;


 }
 [type="button"]:hover{
    background-color: rgba(6, 117, 46, 1);
    cursor: pointer;
 }

.S-eleven aside img {
    background-color: #DDE6F2;
    padding: 10px;
    border-radius: 100%;
}

.S-eleven aside h4{
    display: flex;
    align-items: center;
}
/* section eleven  */


/*section twelve*/
.S-twelve{
    background-color: #DDEDE5;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.S-twelve img {
    background-color: rgba(51, 52, 52, 0.8);
    padding: 15px;
    border-radius: 5px;
    margin: 3px;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    display: inline-block;
}

.S-twelve a{
    display: inline;
}
.S-twelve a:hover img{
    background-color:rgba(51, 52, 52, 1);
}

/*section twelve*/


/*footer*/

footer {
    margin-top: 0;
    background-color: #1BAE70;
    color: #fff;
    display: block;
    padding: 20px;
    width: 100%;
}


/*footer*/


/*animation*/

@keyframes slide {
    0% {
        background-image: url(4.jpg);
    }

    25% {
        background-image: url(5.jpg);
    }

    50% {
        background-image: url(6.jpg);
    }

    75% {
        background-image: url(7.jpg);
    }

    100% {
        background-image: url(8.jpg);
    }
}


/*animation*/


/*media queries*/

@media(max-width:1079px) {

    /*navigation bar*/
    header {
        box-shadow: 1px 1px 10px grey;
        display: grid;
        grid-template-columns: auto auto;
        height: 1in;
        background-color: #fff;
        position: fixed;
        top: 0;
    }

    header nav {
        text-align: right;
        position: fixed;
        right: 10px;
        top: 0;
        display: block;
    }

    header nav span {
        display: inline;
        width: 30px;
    }

    header nav ul {
        list-style-type: none;
        display: none;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 1px 1px 7px gray;
    }

    header nav:hover ul {
        display: block;
    }

    header nav ul li {
        display: block;
        margin-bottom: 20px;
    }

    header nav ul li a {
        text-decoration: none;
        color: #000;
        font-size: 15px;
        padding: 15px 20px;
    }

    header nav ul li a:hover {
        text-decoration: underline;
    }

    header nav ul li [target="_blank"] {
        background-color: #06752E;
        color: #fff;
        border-radius: 3px;
        margin-right: 20px;
        margin-bottom: 5px;
        display: block;
    }

    /*navigation bar*/
    /*section two*/
    .S-two p {
        color: #4E5652;
        margin: 0 20px;
        line-height: 2em;
    }

    /*section two*/
    /*section three*/
    .S-three section {
        display: grid;
        grid-template-columns: auto;
        gap: 25px;
    }

    .S-three section div.figure {
        border: 1px solid #DDDDDD;
        border-radius: 10px;
        padding: 20px;
    }

    .S-three {
        width: 100%;
        text-align: center;
    }

    .S-three p {
        color: #4E5652;
        text-align: justify;
        margin: 0 60px;
    }

    .S-three p.first {
        margin: 0 20px;
        line-height: 2em;
    }

    .S-three h3 {
        color: #1BAE70;
        text-align: center;
    }

    .S-three h4 {
        text-align: center;
        font-size: larger;
    }

    .s-three figure img {
        max-width: 100%;
    }

    /*section three*/
    /*section four*/
    .S-four {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        background-color: #F4F6F4;
    }

    .s-four h2 {
        margin: 0 20px;
    }

    .S-four p {
        color: #4E5652;
        margin: 0 20px;
        line-height: 2em;
    }

    .S-four section {
        text-align: left;
        padding: 20px;
    }

    /*section four*/
    /*section five*/
    .S-five h2,
    .S-five p {
        text-align: center;
        margin: 0 20px;
        line-height: 2em;
    }

    .S-five a[title="Involved"] {
        background-color: #1BAE70;
        color: #fff;
        border-radius: 3px;
        padding: 15px 20px;
        text-decoration: none;
        display: block;
        width: 90px;
        text-align: center;
        margin: 10px auto;
    }

    .S-five a[title="Donate"] {
        border: 2px solid #fff;
        border-radius: 3px;
        padding: 15px 20px;
        text-decoration: none;
        color: #fff;
        display: block;
        width: 90px;
        text-align: center;
        margin: 10px auto;
    }

    .S-five {
        width: 100%;
        background-color: #0A9060;
        color: #fff;
        height: auto;
    }

    /*section five*/
    /*section six*/
    .S-six {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        padding: 20px;
    }

    .S-six h2 {
        text-align: left;
        margin: 0 20px;
    }

    .S-six p {
        text-align: justify;
        margin: 0 20px;
        line-height: 2em;
    }

    .S-six figure {
        margin: 2em auto;
        width: 80%;
    }

    .S-six figure img {
        border-radius: 5px;
        width: 100%;
        height: auto;
    }

    .S-six a {
        border: 2px solid #1BAE70;
        color: #1BAE70;
        border-radius: 3px;
        padding: 15px 20px;
        text-decoration: none;
        display: block;
        width: 100px;
        margin: auto;
        text-align: center;
    }

    /*section six*/
    /*section seven*/
    .S-seven {
        width: 100%;
        background-color: #F4F6F4;
        padding: 10px;
    }

    .S-seven p {
        text-align: justify;
        margin: 0 20px;
        line-height: 2em;
    }

    .S-seven h2 {
        text-align: center;
    }

    .S-seven article {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 30px;
        column-gap: 2px;
    }

    .S-seven article img {
        margin: auto;
    }

    /*section seven*/
    /*section eight*/
    .S-eight {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        column-gap: 20px;
        padding: 20px;
    }

    .S-eight h2 {
        text-align: center;
    }

    .S-eight p {
        text-align: justify;
        margin: 0 20px;
        line-height: 2em;
    }

    /*section eight*/
}


/*media queries*/


/*media queries 2*/

@media (max-width:600px) {
    .logo {
        width: 80%;
    }

    /*section one*/
    .S-one {
        width: 100%;
        height: 5in;
        -moz-animation-name: slide;
        -webkit-animation-name: slide;
        -o-animation-name: slide;
        animation-name: slide;
        -moz-animation-duration: 30s;
        -webkit-animation-duration: 30s;
        -o-animation-duration: 30s;
        animation-duration: 30s;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: cover, cover, cover;
        background-position: center, center, center;
        background-color: rgba(55, 49, 47, 0.5), rgba(55, 49, 47, 0.5), rgba(55, 49, 47, 0.5);
    }

    .S-one article {
        color: #fff;
        transform: translate(0, 150px);
    }

    .S-one a {
        text-decoration: none;
        color: white;
        padding: 15px 20px;
        border: 2px solid white;
        border-radius: 5px;
        display: block;
        width: 70px;
    }

    /*section one*/
    /*section seven*/
    .S-seven {
        width: 100%;
        background-color: #F4F6F4;
        padding: 10px;
    }

    .S-seven p {
        text-align: center;
    }

    .S-seven h2 {
        text-align: center;
    }

    .S-seven article {
        display: grid;
        grid-template-columns: auto;
        row-gap: 30px;
        column-gap: 2px;
    }

    .S-seven article img {
        margin: auto;
    }

    /*section seven*/
    /*section nine*/
    .S-nine {
        width: 100%;
        background-color: #393939;
        display: grid;
        grid-template-columns: auto;
        column-gap: 30px;
        color: #fff;
        margin-bottom: 0;
        font-size: 12px;
    }

    .S-nine h5 {
        font-size: 20px;
        text-align: center;
    }

    .S-nine p,
    .S-nine a {
        text-align: center;
    }

    .S-nine a {
        color: #fff;
        text-decoration: none;
    }

    .S-eleven{
        grid-template-columns: 90%;
        text-align: center;
        margin: auto;
    }

.S-twelve{
    grid-template-columns: auto;
}
    /*section nine*/
}


/*media queries 2*/


/*media queries 3*/


/*media queries 3*/